@import "tailwindcss";

:root {
  --font-noto-serif-bengali: 'Noto Serif Bengali', serif;
  --font-inter: 'Inter', sans-serif;
}

.font-bengali {
  font-family: var(--font-noto-serif-bengali);
}

.font-inter {
  font-family: var(--font-inter);
}

body {
    font-family: var(--font-bengali);
}

@theme {
    --breakpoint-1xl: 82rem;
    --color-body: #262626;
    --color-title: #0A0A0A;
    --color-gray: #737373;
    --color-gray-dark: #D9D9D9;
    --color-red: #A71E22;
    --color-blue: #1877F2;
}

@utility container {
    @apply mx-auto px-4;

    @media (width >=82rem) {
        max-width: var(--breakpoint-1xl);
    }
}


 
@layer utilities {

  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none; 
      scrollbar-width: none;   
  }
}

body {
    font-family: var(--font-noto-serif-bengali), serif;
    color: var(--color-body);
    @apply text-sm sm:text-base leading-6.5 font-normal
}

@layer base{
    h1,h2,h3,h4,h5,h6{
        font-family: var(--font-noto-serif-bengali), serif;
        @apply text-title
    }

    h1{
        @apply text-3xl lg:text-4xl lg:leading-12 font-bold 
    }
    h2{
        @apply text-2xl lg:text-[32px] lg:leading-10 font-semibold 
    }
    h3{
        @apply text-xl lg:text-2xl lg:leading-8 font-semibold 
    }
    h4{
        @apply text-lg lg:text-xl lg:leading-7 font-semibold 
    }
    h5{
        @apply text-sm sm:text-base lg:leading-6 font-semibold
    }
}

.home-slider .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply -bottom-1 sm:-bottom-2
}
.home-slider .swiper-pagination-bullet-active{
    @apply bg-red!
}
.home-slider .swiper-pagination-bullet{
    @apply bg-[#FDCBCC] w-2.5 md:w-3.5 h-2.5 md:h-3.5 opacity-100
}
